capp==0.0
docx2txt==0.9
PyMuPDF>=1.24.0
numpy==2.4.4
ollama==0.6.1
Pillow==12.2.0
psycopg2_binary==2.9.11
python-dotenv==1.2.2
python_magic==0.4.27
python_pptx==1.0.2
# PyYAML==6.0.2
PyYAML==6.0.3
qdrant_client==1.17.1
sentence_transformers==5.1.2
watchdog==6.0.0
